Settings.ini
*.tdat
*.gba
*.sav
*.State
*.ss[0-9]
*.log
*Attempts.txt
*Resets.txt
quickload/*.jar
quickload/*.rnqs
extensions/*
!extensions/How to use.txt
!extensions/CodeExtensionTemplate.lua.txt
Shiny_tracker/*.txt
Shiny_tracker/images/pokemonAnimated/*.gif
AnimatedPokemon.gif
RandomizerErrorLog.txt
ThemePresets.txt